.flex
	display -webkit-flex
	&.h
		flex-direction row
		-webkit-flex-direction row
	&.v
		flex-direction column
		-webkit-flex-direction column
	&.sb
		justify-content space-between
		-webkit-justify-content space-between
	&.e
		justify-content flex-end
		-webkit-justify-content flex-end
	&.s
		justify-content flex-start
		-webkit-justify-content flex-start
	&.c
		justify-content center
		-webkit-justify-content center
	&.sa
		justify-content space-around
		-webkit-justify-content space-around
	&.al-c
		align-items center
		-webkit-align-items center
		
	&.al-s
		align-items flex-start
		-webkit-align-items flex-start
	&.al-e
		align-items flex-end
		-webkit-align-items flex-end

	&.wrap
		flex-wrap wrap
		-webkit-flex-wrap wrap