$GREEN = #009541
$LIGHT_GREEN = #46B18E
$LIGHTEST_GREEN = #CBECD7

$RED = #FF6E60
$ERROR = $RED

$YELLOW = #FFD182
$WARNING = $YELLOW

// GRAYS
$LIGHT_GRAY_BG = #EFEFEF
$LIGHT_GREY_BG = $LIGHT_GRAY_BG

// FONTS
$BLACK_FONT = #141414

$GRAY_FONT = #616161
$GREY_FONT = $GRAY_FONT

$GRAY_PH_FONT = #4C4C4C // PLACEHOLDER
$GREY_PH_FONT = $GRAY_PH_FONT
