$FONT_MAIN = 'Raleway', sans-serif

$FONT_BOOK = 200
$FONT_LIGHT = 300
$FONT_NORMAL = 400
$FONT_LIGHT_BOLD = 500
$FONT_SEMI_BOLD = 600
$FONT_BOLD = 700

$FONT_XS = 12px
$FONT_S = 14px
$FONT_M = 16px
$FONT_L = 24px
$FONT_XL = 36px