*
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  color $BLACK_FONT

html, body, header, main, nav, footer, article, blockquote,
div, section, span, iframe, img, video, figure, a, p, h1, h2,
h3, h4, h5, h6, strong, b, i, ul, ol, li, form, fieldset,
label, input, input:focus, select, select:focus, textarea, textarea:focus, table, button, thead, tbody, tfoot,
th, td, tr, aside, caption, sup, sub, q, small
	padding 0
	margin 0
	border 0
	text-decoration none
  font-family $FONT_MAIN

a
	text-decoration none

@font-face {
	font-family: 'raizs';
	src: url('/fonts/raizs.eot');
  src: url('/fonts/raizs.woff2') format('woff2'),
      url('/fonts/raizs.woff') format('woff'),
      url('/fonts/raizs.otf') format('truetype');
}
input:focus
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select:focus
textarea:focus
button:focus
	outline none
	shadow-box none

html
	font-family $FONT_MAIN
	width 100%

body
	line-height 1
	width 100%
	overflow-x hidden

ol
ul
	list-style none

blockquote
	quotes none

blockquote:after
blockquote:before
	content ""
	content none

table
	border-collapse collapse
	border-spacing 0

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #DEDEDE; 
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $GREEN; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $GREEN; 
}

.raizs-toast
  background-color $GREEN !important
	.Toastify__toast-body
		color white
		line-height 20px

.raizs-toast-progress
  background linear-gradient(to left, $LIGHT_GREEN, white) !important