div.dropdown-menu
  height 100%
  button
    height 100%
    padding 0
    font-size $FONT_XS
    font-weight $FONT_BOLD
div#dropdown-menu-more
  *
    font-size $FONT_XS
    font-weight $FONT_BOLD
  li
    color $GRAY_FONT
    &:focus
      background-color transparent
    &:hover
      color $GREEN
      background-color transparent