div.dropdown-menu
  height 100%
  button
    height 100%
    padding 0
    font-size $FONT_XS
    font-weight $FONT_BOLD
    *
      color $GRAY_FONT
    &:hover
      background-color transparent
div#dropdown-menu-more
  *
    font-family $FONT_MAIN
    font-size $FONT_XS
    color $GREY_FONT
    font-weight $FONT_BOLD
  li
    &:focus
      background-color transparent
    &:hover
      color $GREEN
      background-color transparent