header.app-header
  display block
  background-color white
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.08)
  height $HEADER_HEIGHT
  border-bottom 1px solid lightgray

  > *
    display inline-block
    vertical-align middle
  
  > div.left-content
    > *
      display inline-block

  > img.logo
    width $LOGO_WIDTH
    margin $D 2*$D
    cursor pointer

  > div.right-content
    float right
    border-left 1px solid $GRAY_BORDER
    padding 0 2*$D
    margin $D 0
    height $HEADER_HEIGHT - 2 * $D
    line-height $HEADER_HEIGHT - 2 * $D
    > *
      display inline-block
      vertical-align middle
      margin 0 $D
      &:hover
        color $GREEN
        cursor pointer